*{
    margin: 0;
    padding: 0;
}
body{
     
     background-image: url(../img/fondos/fondolabrillosnegros.jpg);  
}
header{
 
display: grid;
}
/* nav hover */
#navbarNavAltMarkup a:hover {
  color: red;
}
/* ///////////titulos //////////////*/
.titulo{
    padding-top: 56px;
    text-align: center;
    margin: 40px;
    display: flex;
    justify-content: center;
}  
.cartel{
    font-family: 'Permanent Marker'; 
    font-size: 82px;
    padding: 15px;
    border-radius: 20px;  
    background-color: rgba(0, 0, 0, 0.459);
    margin: 80px 35px; 
}
h1{
    color:rgb(255, 255, 255);
    box-shadow: 0 0 30px 0 rgb(230, 235, 236), 0 0 30px 0 #ffffff, 0 0 10px 0 #070707 inset;
}

.luces{  
   color: rgb(255, 0, 0);
    box-shadow: 0 0 90px 0 red, 0 0 50px 0 #ed6314, 0 0 10px 0 #ff0101 inset; 
}

article{
    margin: 0px 50px 0px 50px;   
}
article p{
    color: whitesmoke;
    font-size: 20px;
}
.main{ 
    background-image: url(../img/fondos/colage.jpg);
    height: 550px;
}
.logo{   
   
   display: grid;
   grid-template-columns: 287px 287px;
    grid-template-rows: 250px 250px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
   justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
}
.logo a{
    margin-top: 50px;
    color: whitesmoke;
} 
/* //////////////logos /////////// */
.logoMarvel{
    padding:11px 19px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid;
}
.logoMarvel img{
    transition: 1s;
    width: 250px; 
}
#logoMarvel:hover{
    transition: 1s;
width: 200px;
}
.logodc{
    background-color: black;
    padding: 0px 57px;
    border-radius: 10px;
    border: 1px solid;
}
.logodc img{
    transition: 1s;
    height: 250px;
}
#logodc:hover{
    transition: 1s;
    height: 200px;
}
.logodark{
    padding: 0px 19px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid;
}
.logodark img{
    transition: 1s;
    height: 250px;
}
#logodark:hover{
    transition: 1s;
    height: 205px;
}
.logoidw{
    background-color: black;
    padding: 50px 10px;
    border-radius: 10px;
    border: 1px solid;
}
.logoidw img{
    transition: 1s;
    height: 150px;
}
#logoidw:hover{
    transition: 1s;
    height: 120px;
   
}

/* //////////////miller/moore /////////////*/

.logo2{
   
    font-family:'Permanent Marker' ;
    background: linear-gradient(to bottom right, black 40%, white ,black 60%);
    display: grid;
    grid-template-rows: 90px 250px 90px 250px 70px;
    justify-items: center;
    align-items: center;
    margin: auto;
    border: 3px solid white;
    border-radius: 5px;
    width: 70%;
    box-shadow: 0 0 30px 0 white, 0 0 30px 0 rgb(124 2 245 / 42%), 0 0 20px 0 rgb(239 239 239) inset;
}
.logo2 h2{
    color: whitesmoke;
}
#grandes{
    font-family:'Permanent Marker' ;
    color: whitesmoke;
    text-align: center;
}
#grandes p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0px 50px 0px 50px;
}
.logofrank{  
  background-color: black;
    padding: 0px 57px;
    border-radius: 10px;
    border: 1px solid;
} 
.logofrankAlan img{
    transition: 1s;
    height: 250px;
    border-radius: 15px;
    
}
#logofrankAlan:hover{
    transition:  0,5s;
    height: 230px;
        
}

#prox {
   border: 3px solid white; 
   display: flex;
   justify-content:space-evenly;
   width: 100%; 
   background-color: black;
}
/* ---------Formulario---------------------- */
.container2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#formulario{
    background-color: white;
    width: 500px;
    border:1px solid black;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0  0 10px 5px rgba(236, 92, 25, 0.959);
} 
/* .title {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: orangered;
  } */
.divContainer{
        position: relative;
        height: 45px;
        width: 90%;
        margin-bottom: 17px;   
}
::placeholder {
    color: transparent;
}
.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
     background-color: white; 
    color: #DADCE0; 
    color: orangered;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
} 
.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    color: orangered;
}
.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: orangered;
}
.input:focus {
    border: 2px solid orangered;
}
.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}
.textArea{
    width: 399px; 
    height: 159px;
    color: orangered;
    border: 2px solid orangered;
    font-size: large;
    font-weight: bold;
}
.btn-primary {
    margin-left: 40%;
}
.btn-primary:hover{
   background-color: rgb(255, 102, 0);   
}
/* --Acerca de ..------------------------------- */
#Acerca{
    background-color: rgba(0, 0, 0, 0.781);
}

/* /////////////pie de pagina //////////////////*/

footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
footer.footer .social-link {
    display: block;
    text-decoration: none;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #af1111;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
footer.footer .social-link:hover {
    background-color: #fa5204;
    text-decoration: none;
}

/*//////// Historia////////// */
.tituloHistory{
    font-size: 95px;
    font-family: 'Rock Salt';
    color: whitesmoke;
    background-color: black;
    padding: 15px;
    border-radius: 20px;
    margin-top: 90px;
    margin-left: 12%;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;

   box-shadow: 0 0 30px 0 purple,
   0 0 30px 0 rgb(213, 20, 220), 
   0 0 10px 0  plum inset;
}
.div1{
    margin: 0px 50px 0px 50px;   
}
h3{
    
     color: whitesmoke;
     background-color: black;
     margin: auto;
     width: fit-content;
     padding: 10px;
     border-radius: 10px;
     
   box-shadow: 0 0 30px 0 purple,
   0 0 30px 0 rgb(213, 20, 220), 
   0 0 10px 0  plum inset;
}

.edades{
    font-family: cursive;
    font-size: larger;
}
.edades h3{
    font-family: 'Rock Salt';
}
.iFrame{
     text-align: center;
     margin-top: 50px;
     background-color: rgba(0, 0, 0, 0.678);
}

/* //////mediaquerys */

@media (max-width: 750px){
    #logofrankAlan{
        width: 270px;
       
    }  
     .logo{
        grid-template-columns: 0px;

    } 
    .logo a{
        margin-top: 0px;
    }
    
    .main{
        height: 1015px;
        margin: auto
    }
    };
    @media (max-width:395px){
      
       .logo2 {
           width: 160px; ;
       }
       
    };
    @media (max-width: 700px){
      
        .head {
            display: flex;
            flex-direction: column ;
        }
        
     };

 

   